nav{
    background-color: #BF0514;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
    display: flex;
}
nav a{
    color: white;
    margin: 0 20px;
    font-size: 18px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header1{
    color: #c0c0c0;
}
.header2{
    color: #4a6ba1
}