{% extends 'core/base.html' %}
{% load static %}
{% block main %}
<h1 class="text-center h12">Catálogo De Productos</h1>
{% if not user.is_authenticated %}
<script>
    // Función que se ejecuta al cargar la página
    window.onload = function() {
        alert("Si deseas agregar productos a tu carrito inicia sesion");
    };
</script>
{%endif%}
<div class="container">
    <div class="row">
        <!-- Producto 1 -->
        <div class="col-md-4 ">
            <div class="card mb-4">
                <img src="{% static 'core/img/polera.jpg' %}" class="img-fluid" alt="Polera Ecológica Masculina">
                <div class="card-body">
                    <h2 class="card-title">Polera Ecológica Masculina</h2>
                    <p class="card-text">Hecha de algodón orgánico 100%, esta polera combina comodidad y estilo con un diseño clásico. Fabricada con procesos sostenibles y tintas ecológicas, es perfecta para el hombre moderno que cuida el medio ambiente.</p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'agregar_al_carrito' 1 %}" class="btn btn-primary">Agregar al carrito</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Producto 2 -->
        <div class=" col-md-4 ">
            <div class="card mb-4">
                <img src="{% static 'core/img/polera2.jpg' %}" class="img-fluid" alt="Polera Ecológica Femenina">
                <div class="card-body">
                    <h2 class="card-title">Polera Ecológica Femenina</h2>
                    <p class="card-text">Confeccionada en algodón orgánico 100%, esta polera ofrece comodidad y estilo con un toque moderno. Fabricada de manera sostenible y con tintas ecológicas, es ideal para la mujer que elige moda responsable.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'agregar_al_carrito' 2 %}" class="btn btn-primary">Agregar al carrito</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Producto 3 -->
        <div class="col-md-4 ">
            <div class="card mb-4">
                <img src="{% static 'core/img/setlimpieza.jpg' %}" class="img-fluid" alt="Set de Limpieza Green Shop">
                <div class="card-body">
                    <h2 class="card-title">Set de Limpieza Green Shop</h2>
                    <p class="card-text">Este set de limpieza incluye todos los esenciales para mantener tu hogar impecable. Con productos efectivos y eco-amigables, cada artículo está diseñado para ofrecer un rendimiento óptimo sin dañar el medio ambiente. Ideal para una limpieza profunda y sostenible.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'agregar_al_carrito' 3 %}" class="btn btn-primary">Agregar al carrito</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Producto 4 -->
        <div class="col-md-4 ">
            <div class="card mb-4">
                <img src="{% static 'core/img/setcos.jpg' %}" class="img-fluid" alt="Set de Cosméticos Naturales">
                <div class="card-body">
                    <h2 class="card-title">Set de Cosméticos Naturales Green Shop</h2>
                    <p class="card-text">Descubre nuestra línea de cosméticos naturales, formulada con ingredientes orgánicos y libres de químicos. Cada producto está diseñado para realzar tu belleza de manera segura y sostenible, con envases eco-amigables que reflejan nuestro compromiso con el medio ambiente.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'agregar_al_carrito' 4 %}" class="btn btn-primary">Agregar al carrito</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Producto 5 -->
        <div class=" col-md-4 ">
            <div class="card mb-4">
                <img src="{% static 'core/img/pajitas.jpg' %}" class="img-fluid" alt="Pajitas de Bambu">
                <div class="card-body">
                    <h2 class="card-title">Pajitas de Bambu</h2>
                    <p class="card-text">Hechas de bambú natural, estas pajitas reutilizables son una alternativa sostenible al plástico. Incluyen un cepillo limpiador y una bolsa de transporte para mayor comodidad. Ideales para bebidas y un estilo de vida eco-amigable.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'agregar_al_carrito' 5 %}" class="btn btn-primary">Agregar al carrito</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Producto 6 -->
        <div class="col-md-4 ">
            <div class="card mb-4">
                <img src="{% static 'core/img/composter.jpg' %}" class="img-fluid" alt="Compostador Ecológico">
                <div class="card-body">
                    <h2 class="card-title">Compostador Ecológico</h2>
                    <p class="card-text">Este compostador ecológico convierte desechos orgánicos en compost de alta calidad. Su diseño eficiente y materiales sostenibles facilitan el reciclaje de restos de comida y residuos de jardín, promoviendo un hogar más verde y sin residuos.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'agregar_al_carrito' 6 %}" class="btn btn-primary">Agregar al carrito</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Producto 7 -->
        <div class=" col-md-4 ">
            <div class="card mb-4">
                <img src="{% static 'core/img/bolsa.jpg' %}" class="img-fluid" alt="Bolsa Green Shop">
                <div class="card-body">
                    <h2 class="card-title">Bolsa Green Shop</h2>
                    <p class="card-text">Bolsa verde ecológica, reutilizable y amigable con el medio ambiente. Perfecta para tus compras diarias, hecha de materiales sostenibles y diseñada para reducir el uso de plásticos.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'agregar_al_carrito' 7 %}" class="btn btn-primary">Agregar al carrito</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Producto 8 -->
        <div class=" col-md-4 ">
            <div class="card mb-4">
                <img src="{% static 'core/img/Botella2.jpg' %}" class="img-fluid" alt="Botella Reutilizable">
                <div class="card-body">
                    <h2 class="card-title">Botella Reutilizable Premium Green Shop</h2>
                    <p class="card-text">Botella reutilizable de acero inoxidable, libre de BPA, ideal para mantener tus bebidas frías o calientes por más tiempo. Una opción ecológica y duradera que te ayuda a reducir el uso de plásticos de un solo uso.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'agregar_al_carrito' 8 %}" class="btn btn-primary">Agregar al carrito</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Producto 9 -->
        <div class="col-md-4 ">
            <div class="card mb-4">
                <img src="{% static 'core/img/Cepillos1.jpg' %}" class="img-fluid" alt="Cepillos de Dientes de Bambú">
                <div class="card-body">
                    <h2 class="card-title">Cepillos De Dientes Bambú</h2>
                    <p class="card-text">Cepillo de dientes de bambú biodegradable, diseñado para una limpieza eficaz y suave con el planeta. Hecho de materiales sostenibles, es una alternativa ecológica al plástico.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'agregar_al_carrito' 9 %}" class="btn btn-primary">Agregar al carrito</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}